/* This is where all global classes are held, use of !important is ONLY permitted on this page */

/* Common classes */
.hide { display: none !important; }
.fl { float: left !important; }
.fr { float: right !important; }
.small { font-size: 1em !important; }
.large { font-size: 3em !important; }
.tac { text-align: center; }


