{% extends 'BBQCharcoalWebsiteBundle::base.html.twig' %}

{% block title %}Taking steps to empower young women around the world through higher education{% endblock %}

{% block body %}
    <h1>Welcome to Charcoal</h1>
    <p>Looks like everything is hunky dory!</p>
{% endblock %}
