/* This is Briquette. The CSS base for all BBQ Digital projects */

.skip {
    a {
        position: absolute;
        top:-80px;
        display: block;
        width: 100%;
        padding:1em;
        font-size: 1.6em;
        text-align: center;
        background: $brand;
        color: #fff;
        z-index: 999999;
        -webkit-transition: top 1s; /* For Safari 3.1 to 6.0 */
        transition: top 1s;

        &:focus { top:0; }
    }
}
.no-js .wrapper .warnings,
.no-js .warning { position: static; }

.warning {
    position: relative;
    background: url(../images/briquette/error-bg-tile.png) repeat;
    padding:2em 1em;
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px dotted #f00;
    span { font-weight: bold; }
    a {
        font-weight: bold;
        color: $brand;
    }
    .close {
        cursor: pointer;
        position: absolute;
        top:5px;
        right:5px;
        font-size: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
        &:before {
            color: $brand;
            content: "[ ";
        }
        &:after {
            color: $brand;
            content: " ] close";
        }
    }
}

.for-print,
.js .js-disabled { display: none; }
